
.ul{
   
    display: flex;
    justify-content: space-between;
    width: 50%;
   
  
}


.li{
   
    list-style: none;
   
}

a{
    text-decoration: none; 
    
  
}

.Header{
    background: rgb(233, 233, 233);
    padding: 15px 0px 15px 0px;
    width: 100%;
    margin:0;
    display: flex;
    
}

.nav{
   display: flex; 
   align-items: center;
   width: 85%;
   margin: auto;
   justify-content: space-between;
  
}


/* cat css */


/* .entry {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } */
  
  
  