
.ul{
   
    display: flex;
    justify-content: space-between;
    width: 50%;
   
  
}


.li{
   
    list-style: none;
   
}

.nav .logo{
    text-decoration: none; 
    font-size: 20px;
   font-weight: 600;
   display: none;
    

}
a{
    text-decoration: none;
}

.Header{
    /* background: rgb(233, 233, 233); */
    padding: 15px 0px 15px 0px;
    width: 100%;
    margin:0;
    display: flex;
    
}

.nav{
   display: flex; 
   align-items: center;
   width: 85%;
   margin: auto;
   justify-content: space-between;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}


/* cat css */


/* .entry {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } */
  
  
  